<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">My Ecommerce</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/realtimeproducts">Realtime Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>        
        <li class="nav-item">
          <a class="nav-link" href="#"><img src="/img/carrito.png" alt="Carrito de compras"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Productos en tiempo real</h1>
  <table id="Productos" class="table">
  </table>
</div>
<div class="container">
  <h2>Agragr un producto</h2>
  <!-- Formulario simple que enviará una petición POST -->
  <form action="" onsubmit="return false;" id="formulario-agregar">
    <div class="mb-3">
      <label for="title" class="form-label">Nombre:</label>
      <input id="title" type="text" name="title" class="form-control"/>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Descripción:</label>
      <input id="description" type="text" name="description" class="form-control"/>
    </div>
    <div class="mb-3">
      <label for="code"class="form-label"></label>Código:</label>
      <input id="code" type="text" name="code" class="form-control"/>
    </div>    
    <div class="mb-3">
      <label for="price" class="form-label">Precio:</label>
      <input id="price" type="text" name="price" class="form-control"/>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="status">
        <option value="true">Disponible</option>
        <option value="false">No disponible</option>
</select>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Categoría:</label>
      <input id="category" type="text" name="category" class="form-control"/>
    </div>    
    <div class="mb-3">
      <label for="stock"class="form-label"></label>Stock:</label>
      <input id="stock" type="text" name="stock" class="form-control"/>
      <button type="submit" class="btn btn-primary" onclick="Enviar()">Ingresar</button>
    </div>

  </form>
</div>
<div class="container">
  <h2>Eliminar un producto</h2>
  <!-- Formulario simple que enviará una petición POST -->
  <form action="" onsubmit="return false;" id="formulario-borrar">
    <div class="mb-3">
      <label for="id" class="form-label"></label>ID del producto a eliminar:</label>
      <input id="id" type="text" name="id" class="form-control"/>
      <button type="submit" class="btn btn-primary" onclick="Borrar()">Ingresar</button>
    </div>
  </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>