<div class="container">
  <h1>¿Olvidaste tu contraseña?</h1>
  <form action="/recover" method="post">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        name="email"
      />
    </div>
    <button type="submit" class="btn btn-primary">Recuperar</button>
  </form>
</div>
