<h1>Registro de usuario</h1>
<form action="/api/users/register" method="post">
First Name:
<input type="text" name="first_name" id="first_name">
Last Name:
<input type="text" name="last_name" id="last_name">
Email:
<input type="email" name="email" id="email">
Age:
<input type="text" name="age" id="age">
Paswword:
<input type="password" name="password" id="password">
<input type="submit" value="Crear">
</form>